* {
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: "National 2", ryo-gothic-plusn, sans-serif;
}

a {
	text-decoration: none;
}

.clear {
	clear: left;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

/* ヘッダー部分 */
header {
	height: 65px;
	width: 100%;
	background-color: rgba(34, 49, 52, 0.9);
	position :fixed;
	top: 0;
	z-index: 10;
}

.logo {
	width: 90px;
	margin: -15px 0 0 -15px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
	margin-right: -25px;
}

.header-right a {
	line-height: 65px;
	padding: 0 25px;
	color: white;
	display: block;
	float: left;
	transition: all 0.5s;
}

.header-right a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

/* TOP画面 */
.top-wrapper {
	background-color: #efeded;
	height: 100%;
	padding: 180px 0 100px 0;
	background-size: cover;
	vertical-align: middle;
	color: #2f2725;
}

.top-wrapper h1 {
	opacity: 0.7;
	font-size: 70px;
	letter-spacing: 5px;
	font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
	color: white;
	text-shadow: 3px 3px #c7c7c7;
}

.top-wrapper p {
	opacity: 0.7;
}

.guild-master {
	font-size: 3px;
	float: right;
	margin-right: 300px;
}

/* ギルドルール */
.guildrule-wrapper {
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f7f7f7;
}

.heading {
	padding-top: 30px;
	padding-bottom: 20px;
	color: #5f5d60;
}

.guildrule-wrapper h3 {
	border-bottom: solid 3px #c7c7c7;
	width: 50%;
	margin-bottom: 0;
	opacity: 0.7;
	letter-spacing: 5px;
	font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
	text-shadow: 2px 2px #c7c7c7;
}

.guildrule {
	margin-bottom: 30px;
}

.rule-contents {
	margin: 8px 0 0 15px;
}

.text-contents {
	width: 80%;
	display: inline-block;
	font-size: 13px;
}

.report {
	margin-top: 20px;
	background-color: #c7c7c7;
}

.provo {
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: #c7c7c7;
}

.btn {
	padding: 8px 24px;
	color: white;
	display: block;
	opacity: 0.8;
	border-radius: 4px;
	text-align: center;
	width: 50%;
}

.btn:hover {
	opacity: 1;
}

.fab {
	margin-right: 5px;
}

.fas {
	margin-right: 5px;
}

/* ノーネーム攻略 */
.noname-wrapper {
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: 1px solid #eee;
}

.noname-image {
	width: 50%;
}

/* メニュー */
.fa {
	margin-right: 5px;
}

.menu-icon {
	display: none;
	color: white;
	float: right;
	font-size: 25px;
	padding: 21px 0;
}

footer img {
	width: 125px;
}

footer p {
	color: #b3aeb5;
	font-size: 12px;
}

footer {
	padding-top: 30px;
	padding-bottom: 20px;
}
